<div class="blog item">
  <h1><%= item.title %> <span class="author">by <%= item.author %></span></h1>
  
  <div class="blog-body">
    <%= item.description %>
  </div>
  
  <div class="meta">on <%= item.pubDate %>, seen <%= item.link %></div>
</div>